/*
 * Copyright (c) 2024 Open Pixel Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
/ {
	aliases {
		i2c-0 = &i2c0;	
	};
};
//*/

&i2c0 {
	bmp390@77 {
		compatible = "bosch,bmp390";
		reg = <0x77>;
		status = "okay";
		int-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		label = "BMP390";
		odr = "200";
		osr-press = <1>;
		osr-temp = <1>;
		iir-filter = <3>;
	};
};
